body {
      background-color: #e4f9ff;
    }

hr {
      border-style: none;
      border-top-style: dotted;
      border-color: #b5b4b4;
      border-width: 5px;
      width: 7%;
    }

h1 {
      color: #66BFBF
}

h2 {
      color: #66BFBF
}

h3 {
      color: #66BFBF
}
